<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>role</title>
    <base th:href="@{/}">
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link href="/resources/js/plugins/layer/mobile/need/layer.css" rel="stylesheet">
    <script src="/resources/js/jquery-2.1.1.min.js"></script>
    <script src="/resources/js/plugins/layer/layer.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
    <script src="/resources/js/axios.min.js"></script>
    <script src="/resources/js/lodash.min.js"></script>
</head>
<body>
<script>
    $(function () {
        var j_all_area = $("#sel_all_area"), j_selected_areas = $("#sel_selected_areas");
        $("#btn_select_all_area").click(function () {
            var selectedAreaArray = [];
            j_all_area.find("option").each(function (i) {
                selectedAreaArray[i] = $(this).val();
                $(this).appendTo(j_selected_areas);
            });
            doSubmit('add', selectedAreaArray.toString());
            return false;
        });
        $("#btn_choose_selected_area").click(function () {
            var selectedAreaArray = [];
            j_all_area.find("option:selected").each(function (i) {
                selectedAreaArray[i] = $(this).val();
                $(this).appendTo(j_selected_areas);
            });
            doSubmit('add', selectedAreaArray.toString());
            return false;
        });
        $("#btn_remove_selected_area").click(function () {
            var selectedAreaArray = [];
            j_selected_areas.find("option:selected").each(function (i) {
                selectedAreaArray[i] = $(this).val();
                $(this).appendTo(j_all_area);
            });
            doSubmit('del', selectedAreaArray.toString());
            return false;
        });
        $("#btn_remove_all_area").click(function () {
            var selectedAreaArray = [];
            j_selected_areas.find("option").each(function (i) {
                selectedAreaArray[i] = $(this).val();
                $(this).appendTo(j_all_area);
            });
            doSubmit('del', selectedAreaArray.toString());
            return false;
        });

    })

</script>

<fieldset>
    <input type="hidden" name="userid" value="" id="roleId"/>
    <ul class="list-group">
        <li style="text-align: center" class="list-group-item list-group-item-info">您正在修改权限！！！</li>
    </ul>
    <table class="table table-bordered dchannel-table">
        <tbody>

        <tr class="item-default">
            <td align="right" style="width: 50%;">
                <select class="input-sm form-control input-s-sm inline" id="sel_all_area" multiple="multiple"
                        style="height: 300px; width:50%; font-size: 15px">
                    <option th:value="${t.mallPermissionId}" th:each="t:${mallPermission}"
                            th:text="${t.mallPermissionDescription}"></option>
                </select>
            </td>
            <td style="width: 50px;" valign="middle">
                <button type="button" class="btn btn-default btn-small" id="btn_select_all_area"><span
                        class="glyphicon glyphicon-forward"></span></button>
                <button type="button" class="btn btn-default btn-small" id="btn_choose_selected_area"><span
                        class="glyphicon glyphicon-chevron-right"></span></button>
                <button type="button" class="btn btn-default btn-small" id="btn_remove_selected_area"><span
                        class="glyphicon glyphicon-chevron-left"></span></button>
                <button type="button" class="btn btn-default btn-small" id="btn_remove_all_area"><span
                        class="glyphicon glyphicon-backward"></span></button>
                <br/>
                <br/>
                <button type="button" onclick="updateRoleOfPermission()" class="btn btn-success">提交</button>
                <br/>
                <br/>
                <button type="button" onclick="location.reload()" class="btn btn-info">取消</button>
            </td>
            <td style="width: 50%;">
                <select id="sel_selected_areas" multiple="multiple" size="10" style="height: 300px; width:50%;">
                    <option th:value="${t.mallPermissionId}" th:each="t:${PermissionAll}"
                            th:text="${t.mallPermissionDescription}"></option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</fieldset>

<script>
    function get$selAllArea() {
        return $("#sel_all_area option");
    }

    // 初始数据
    let primaryData = []
    get$selAllArea().each(function () {
        primaryData.push($(this).val())
    })

    // 修改角色拥有权限的方法
    function updateRoleOfPermission() {
        let permissionsList = [];
        let permissions = {
            roleId: $("#roleId").val(),
            // 取差集
            permissionsList: null,
            method: null
        }
        get$selAllArea().each(function () {
            permissionsList.push($(this).val())
        })

        if (_.difference(primaryData, permissionsList).length === 0 && _.difference(permissionsList, primaryData).length === 0) {

        } else if (_.difference(permissionsList, primaryData).length === 0) {
            permissions.permissionsList = _.difference(primaryData, permissionsList)
            permissions.method = -1
        } else if (_.difference(primaryData, permissionsList).length === 0) {
            permissions.permissionsList = _.difference(permissionsList, primaryData)
            permissions.method = 1
        }

        updateAxios(permissions)
    }

    function updateAxios(data) {
        axios({
            url: '[[@{/mallRole/roleManagement/expand}]]',
            method: "post",
            contentType: 'application/json',
            data: data
        }).then(function (response) {
            if (response.status === 200) {
                $(".list-group-item-info").text("修改成功！！！")
                setTimeout(function () {
                    var frameIndex = parent.layer.getFrameIndex(window.name);
                    window.parent.layer.close(frameIndex)
                }, 1500); //单位是毫秒
            }
        }).catch(function (error) {
            layer.msg("修改失败")
        }).finally((response, error) => {

        });
    }


</script>
</body>

</html>