<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.MallUserMapper">
    <resultMap type="com.mall.entity.MallUser" id="MallUserMap">
        <id property="mallUserId" column="mall_user_id" jdbcType="INTEGER"/>
        <result property="mallUsername" column="mall_username" jdbcType="VARCHAR"/>
        <result property="mallPassword" column="mall_password" jdbcType="VARCHAR"/>
        <result property="mallUserSex" column="mall_user_sex" jdbcType="INTEGER"/>
        <result property="mallUserBirthday" column="mall_user_birthday" jdbcType="VARCHAR"/>
        <result property="mallUserImages" column="mall_user_images" jdbcType="VARCHAR"/>
        <result property="mallUserPhone" column="mall_user_phone" jdbcType="VARCHAR"/>
        <result property="mallUserRegisterTime" column="mall_user_register_time"/>
        <result property="mallUserState" column="mall_user_state" jdbcType="INTEGER"/>
        <result property="mallNickName" column="mall_nick_name" jdbcType="VARCHAR"/>
        <collection property="mallRoleList"
                    select="com.mall.mapper.MallRoleMapper.queryRolesByUserId"
                    column="mall_user_id"/>
    </resultMap>
    <sql id="allColumn">
        mall_user_id,mall_username, mall_password ,  mall_user_sex, mall_user_birthday,
        mall_user_images, mall_user_phone, mall_user_register_time, mall_user_state
    </sql>

    <!--登录验证查询-->
    <select id="queryLogin" resultMap="MallUserMap">
        select
        <include refid="allColumn"></include>
        from mall_user
        where mall_username= #{mallUsername}
    </select>

    <!-- <select id="queryAllMallUser" resultMap="MallUserMap"> -->
    <!--     select -->
    <!--     mall_user.mall_user_id,mall_user.mall_username,mall_user.mall_nick_name,mall_user.mall_user_sex,mall_user.mall_user_birthday, -->
    <!--     mall_user.mall_user_images,mall_user.mall_user_phone,mall_user.mall_user_register_time,mall_user.mall_user_state,mall_user.mall_nick_name -->
    <!--     from mall_user join mall_user_role mur on mall_user.mall_user_id = mur.mall_user_id -->
    <!--     join mall_role mr on mur.mall_role_id = mr.mall_role_id -->
    <!--     <where> -->
    <!--         <if test="role!=null and role!=''"> -->
    <!--             mall_role_name like concat ('%',#{role},'%') -->
    <!--         </if> -->
    <!--         <if test="mallUser.mallUserSex!=null and mallUser.mallUserSex==1 or mallUser.mallUserSex==0"> -->
    <!--             and mall_user_sex=#{mallUserSex} -->
    <!--         </if> -->
    <!--         <if test="mallUser.mallUserState!=null and mallUser.mallUserState==1 or mallUser.mallUserState==-1"> -->
    <!--             and mall_user_state=#{mallUserState} -->
    <!--         </if> -->
    <!--         <if test="mallUser.mallNickName != null"> -->
    <!--             and mall_username like concat ('%',#{mallUser.mallNickName},'%') -->
    <!--             or mall_nick_name like concat ('%',#{mallUser.mallNickName},'%') -->
    <!--         </if> -->
    <!--     </where> -->
    <!-- </select> -->


</mapper>

