<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.UserMapper">

    <resultMap type="com.mall.entity.User" id="UserMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="userNickname" column="user_nickname" jdbcType="VARCHAR"/>
        <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
        <result property="userRealname" column="user_realname" jdbcType="VARCHAR"/>
        <result property="userGender" column="user_gender" jdbcType="INTEGER"/>
        <result property="userBirthday" column="user_birthday" jdbcType="TIMESTAMP"/>
        <result property="userAddress" column="user_address" jdbcType="VARCHAR"/>
        <result property="userHomeplace" column="user_homeplace" jdbcType="VARCHAR"/>
        <result property="userProfilePictureSrc" column="user_profile_picture_src" jdbcType="VARCHAR"/>
        <collection property="mallRoleList"
                    select="com.mall.mapper.MallRoleMapper.queryRolesByUserId"
                    column="user_id"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="userId" useGeneratedKeys="true">
        insert into tmalldemodb.user(user_name, user_nickname, user_password, user_realname, user_gender, user_birthday,
        user_address, user_homeplace, user_profile_picture_src)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userName}, #{entity.userNickname}, #{entity.userPassword}, #{entity.userRealname},
            #{entity.userGender}, #{entity.userBirthday}, #{entity.userAddress}, #{entity.userHomeplace},
            #{entity.userProfilePictureSrc})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="userId" useGeneratedKeys="true">
        insert into tmalldemodb.user(user_name, user_nickname, user_password, user_realname, user_gender, user_birthday,
        user_address, user_homeplace, user_profile_picture_src)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userName}, #{entity.userNickname}, #{entity.userPassword}, #{entity.userRealname},
            #{entity.userGender}, #{entity.userBirthday}, #{entity.userAddress}, #{entity.userHomeplace},
            #{entity.userProfilePictureSrc})
        </foreach>
        on duplicate key update
        user_name = values(user_name) , user_nickname = values(user_nickname) , user_password = values(user_password) ,
        user_realname = values(user_realname) , user_gender = values(user_gender) , user_birthday =
        values(user_birthday) , user_address = values(user_address) , user_homeplace = values(user_homeplace) ,
        user_profile_picture_src = values(user_profile_picture_src)
    </insert>

    <!--登录验证查询-->
    <select id="queryLogin" resultMap="UserMap">
        select user_id, user_name, user_nickname, user_password, user_realname, user_gender, user_birthday,
        user_address, user_homeplace, user_profile_picture_src
        from user ${ew.customSqlSegment}
    </select>
    <select id="selectAllByPage" resultMap="UserMap">
        select user.*
        from user
        join mall_user_role mur on user.user_id = mur.mall_user_id
        join mall_role mr on mur.mall_role_id = mr.mall_role_id ${ew.customSqlSegment}
    </select>


    <!-- <delete id="deleteUserRole"> -->
    <!--     delete from mall_user_role where mall_user_id=#{userId} -->
    <!--     and mall_role_id in -->
    <!--     <foreach collection="list" open="(" close=")" separator="," item="id"> -->
    <!--         #{id} -->
    <!--     </foreach> -->
    <!-- </delete> -->
    <!-- <insert id="insertUserRole"> -->
    <!--     insert into mall_user_role (mall_user_id, mall_role_id) VALUES -->
    <!--     <foreach collection="list" index="inx" separator=","> -->
    <!--         (#{userId}, #{list[${inx}]}) -->
    <!--     </foreach> -->
    <!-- </insert> -->

</mapper>